.content-container {
	height: 100%;
	background-color: lightgreen;
}

.outer-container {
	height: 100%;
}

.menu {
	position: absolute;
	height: 30px;
	padding: 20px;
}

.menu:hover {
	cursor: pointer;
}