.content-container {
	height: 100%;
	margin: 50px;
	background-color: aliceblue;
	overflow: auto;
}

.outer-container {
	height: 100%;
	display: flow-root;
}

.menu {
	position: absolute;
	height: 30px;
	padding: 20px;
}

.menu:hover {
	cursor: pointer;
}

.menu-container {
	height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
}

.transparent-view {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.transparent-view:hover {
	cursor: pointer;
}